{% extends 'base.html' %}

{% load thumbnail %}

{% block title%} 
  <title>Профайл пользователя {{ author.get_full_name }}</title>
{% endblock%}      

{% block content%}
    <main>
      <div class="container py-5">
        <div class="mb-5">      
          <h1>Все посты пользователя {{ author.get_full_name }} </h1>
          <h3>Всего постов: {{ author.posts.count }} </h3>
          {% if not no_subscription %}
            {% if following %}
              <a
                class="btn btn-lg btn-light"
                href="{% url 'posts:profile_unfollow' author.username %}" role="button"
              >
                Отписаться
              </a>
            {% else %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
              >
                Подписаться
              </a>
            {% endif %}
          {% endif %}
        </div>
        <article>
            {% for post in page_obj %}
              <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
                <a href="{% url 'post:profile' author %}">все посты пользователя</a>
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
              </ul>
              {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
              {% endthumbnail %}
              <p>{{ post.text }}</p>
              <a href="{% url 'post:post_detail' post.id %}">Подробная информация </a>
              <br>
              {% if post.group %}
                <a href="{% url 'post:groups' post.group.slug %}">Смотреть все записи сообщества {{ post.group.title }}</a>
              {% endif %}
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
            {% include 'posts/includes/paginator.html' %}
          </article>            
        <hr>
      </div>
    </main>
{% endblock%}